@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');

/* variables */
:root {
  --primary: #F96126;
  --secondary: #2F2E41;
}

/* reset */
body,p,a,ul,li,h1,h2,h3 {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* base styles */
body {
  max-height: 100vh;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}
.test:after {
  content: '\2807';
  font-size: 1.4em;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h3 {
  font-weight: 600;
}
.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.section-image {
  width: 50%;
  max-width: 350px;
  opacity: .8;
}
.section-content-info {
  text-align: center;
  line-height: 2;
  font-size: 1.1em;
  font-weight: 300;
  padding: 10px 30px;
}
.section-content-info > *:last-child {
  font-size: .8em;
  font-weight: 400;
  opacity: .5;
}
.menu-bar {
  background: var(--primary);
  display: flex;
  align-items: center;
  padding: 20px 20px 40px;
  opacity: .9;
  position: relative;
}
.hamburger-menu-img,
.search-button,
.notifications-button {
  width: 22px;
}
.hamburger-menu-img {
  width: 20px;
  filter:  brightness(0) invert(1);
}
.search-button {
  margin-left: auto;
}
.notifications-button {
  margin-left: 15px;
}
.add-task-button {
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  border: 4px solid white;
  border-radius: 50%;
  position:absolute;
  top: -25px;
  left: 50%;
  transform: translate(-50%);
}
.popup-menu {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  opacity: 1;
  transition: all 400ms ease;
}
.close{
  transform: translateY(100%);
  opacity: 0;
}
.close-button {
  width: 32px;
  display: block;
  margin-left: auto;
  margin-bottom: 20px;
}
.popup-menu > li {
  margin-top: 20px;
  cursor: pointer;
}
.menu-sections {
  padding-left: 10px;
}
.menu-sections-list li{
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 7px;
}
.section-icon {
  width: 30px;
}
.projects-section {
  margin-top: 40px;
}
.project-section-header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.new-project-button {
  width: 30px;
  opacity: 0.6;
}

.projects-section-title {
  font-weight: bold;
  font-size: 1.5em;
}
.projects-section-list {
  padding-left: 10px;
}
.project-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
.button-icon {
  width: 20px;
}

/* task editor */
.modal {
  padding: 0;
  background: white;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
}

.modal::backdrop {
  background: rgba(0, 0, 0, .7);
}
.close-modal {
  /* position: absolute; */
  /* top: 2px;
  right: 10px; */
  grid-column: 2/3;
  font-size: 2em;
  background: transparent;
  border: none;
  opacity: .6;
  align-self: start;
  justify-self: center;
}
.task-editor {
  display: grid;
  grid-template-columns: 9fr 1fr;
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* position: relative; */
  padding: 10px;
  flex-direction: column;
}
.input-fields {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.extra-fields{
  grid-column: 1/2;
  grid-row: 2/3;
}
.task-title-input,
.task-description-input{
  border: none;
  padding: 10px;
}
.task-description-input{
  font-size: .8em;
  height: 7ch;
  resize: none;
}
.pills{
  display: flex;
  gap: 10px;
  padding: 6px;
}
.due-date-button,
.folder-select-button {
  padding: .5rem .3rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 10px;
  font-size: .9em;
  width: 100px;
}

.due-date-button{
  display: flex;
  align-items: center;
  gap: 3px;
}

.submit-button {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 30px;
  display: flex;
  justify-content: center;
  background: transparent;
  border: none;
  align-self: flex-end;
}

.submit-button-icon {
  width: 25px;
  opacity: .6;
}

/* newProject Form */
.new-project-form {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  opacity: 1;
  transition: all 400ms ease;
}
.close-project-form{
  transform: translateX(100%);
  opacity: 0;
}
.new-project-form-header {
  display: flex;
  justify-items: center;
  align-items: center;
}
.new-project-form-h3 {
  margin-left: 30px;
  font-size: 1.5em;
}
.new-project-form-save {
  margin-left: auto;
}
.new-project-form-back,
.new-project-form-save {
  width: 30px;
  opacity: 0.6;
}

.form-group {
  margin-top: 30px;
  width: 100%;
  box-sizing: border-box;
  padding:10px;
  border: 3px solid rgba(255, 2, 2, 0.8);
  border-radius: 5px;
  /* margin: 10px; */
  position: relative;
  opacity: .6;
}
.form-group>label {
  position:absolute;
  top: -14px;
  left: 20px; 
  background-color: white;
  font-size: 1.2em;
}
.form-group>input,
.form-group>input:active {
  border: none;
  outline: none;
  width: 90%;
  padding: 10px;
  font-size: 1.5em;
}
.color-form-group{
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
.color-label-and-name {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.color-icon {
  width: 35px;
}
.selected-color-label {
  font-size: 1.3em;
}
.selected-project-color {
  font-size: 1em;
}

/* color filters */
.charcoal {
  filter: invert(23%) sepia(8%) saturate(1530%) hue-rotate(161deg) brightness(97%) contrast(87%);
}

.red {
  filter: invert(15%) sepia(90%) saturate(6449%) hue-rotate(359deg) brightness(108%) contrast(114%);
}

/* color choices container */
.color-choices-container {
  overflow: scroll;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: white;
  height: 90vh;
  width: 100%;
  border: 1px solid #f0f0f0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px;
  opacity: 1;
  transition: all 400ms ease;
}
.close-color-choices{
  transform: translateY(100%);
  opacity: 0;
}

.default-color{
  filter: invert(23%) sepia(8%) saturate(1530%) hue-rotate(161deg) brightness(97%) contrast(87%);
}

/* fonts */

/* mobile styles */


/* small tablet styles */
@media screen and (min-width: 620px) {
  
}

/* large tablets & laptop styles */
@media screen and (min-width: 960px) {
  
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  
}